<% provide(:title, 'Home') %>
<div class="span9">
  <div class="well well-small">
    <h4>Featured Products <small class="pull-right">200+ featured products</small></h4>
    <div class="row-fluid">
      <div id="featured" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail">
                  <i class="tag"></i>
                  <%= link_to image_tag('products/b1.jpg', :alt => ""), product_details_path %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <i class="tag"></i>
                  <%= link_to image_tag('products/b2.jpg', :alt => ""), product_details_path %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <i class="tag"></i>
                  <%= link_to image_tag('products/b3.jpg', :alt => ""), product_details_path  %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <i class="tag"></i>
                  <%= link_to image_tag('products/b4.jpg', :alt => ""), product_details_path  %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="item">
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail">
                  <i class="tag"></i>
                  <%= link_to image_tag('products/5.jpg', :alt => ""), product_details_path  %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <i class="tag"></i>
                  <%= link_to image_tag('products/6.jpg', :alt => ""), product_details_path  %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <%= link_to image_tag('products/7.jpg', :alt => ""), product_details_path  %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <%= link_to image_tag('products/8.jpg', :alt => ""), product_details_path  %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="item">
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail">
                  <%= link_to image_tag('products/9.jpg', :alt => ""), product_details_path  %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <%= link_to image_tag('products/10.jpg', :alt => ""), product_details_path  %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <%= link_to image_tag('products/11.jpg', :alt => ""), product_details_path  %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <%= link_to image_tag('products/1.jpg', :alt => ""), product_details_path  %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="item">
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail">
                  <%= link_to image_tag('products/2.jpg', :alt => ""), product_details_path  %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <%= link_to image_tag('products/3.jpg', :alt => ""), product_details_path  %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <%= link_to image_tag('products/4.jpg', :alt => ""), product_details_path  %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <%= link_to image_tag('products/5.jpg', :alt => ""), product_details_path  %>
                  <div class="caption">
                    <h5>Product name</h5>
                    <h4><%= link_to "VIEW", product_details_path, :class=>"btn" %> <span class="pull-right">$222.00</span></h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#featured" data-slide="next">›</a>
      </div>
    </div>
  </div>
  <h4>Latest Products </h4>
  <ul class="thumbnails">
  <li class="span3">
      <div class="thumbnail">
        <div class="caption">
          <p>
          </p>

          <h4 style="text-align:center">
            <% link_to '<i class="icon-zoom-in"></i>'.html_safe, product_details_path, :class=>"btn" %>
            <% link_to 'Add to <i class="icon-shopping-cart"></i>'.html_safe, product_details_path, :class=>"btn" %>
            <% link_to '$222.00'.html_safe, product_details_path, :class=>"btn btn-primary" %>
          </h4>
        </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <%= link_to image_tag('products/7.jpg', :alt => ""), product_details_path  %>
        <div class="caption">
          <h5>Product name</h5>
          <p>
            Lorem Ipsum is simply dummy text.
          </p>
          <h4 style="text-align:center">
            <% link_to '<i class="icon-zoom-in"></i>'.html_safe, product_details_path, :class=>"btn" %>
            <% link_to 'Add to <i class="icon-shopping-cart"></i>'.html_safe, product_details_path, :class=>"btn" %>
            <% link_to '$222.00'.html_safe, product_details_path, :class=>"btn btn-primary" %>
          </h4>
        </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <%= link_to image_tag('products/8.jpg', :alt => ""), product_details_path  %>
        <div class="caption">
          <h5>Product name</h5>
          <p>
            Lorem Ipsum is simply dummy text.
          </p>
          <h4 style="text-align:center">
            <% link_to '<i class="icon-zoom-in"></i>'.html_safe, product_details_path, :class=>"btn" %>
            <% link_to 'Add to <i class="icon-shopping-cart"></i>'.html_safe, product_details_path, :class=>"btn" %>
            <% link_to '$222.00'.html_safe, product_details_path, :class=>"btn btn-primary" %>
          </h4>
        </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <%= link_to image_tag('products/9.jpg', :alt => ""), product_details_path  %>
        <div class="caption">
          <h5>Product name</h5>
          <p>
            Lorem Ipsum is simply dummy text.
          </p>
          <h4 style="text-align:center">
            <% link_to '<i class="icon-zoom-in"></i>'.html_safe, product_details_path, :class=>"btn" %>
            <% link_to 'Add to <i class="icon-shopping-cart"></i>'.html_safe, product_details_path, :class=>"btn" %>
            <% link_to '$222.00'.html_safe, product_details_path, :class=>"btn btn-primary" %>
          </h4>
        </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <%= link_to image_tag('products/10.jpg', :alt => ""), product_details_path  %>
        <div class="caption">
          <h5>Product name</h5>
          <p>
            Lorem Ipsum is simply dummy text.
          </p>
          <h4 style="text-align:center">
            <% link_to '<i class="icon-zoom-in"></i>'.html_safe, product_details_path, :class=>"btn" %>
            <% link_to 'Add to <i class="icon-shopping-cart"></i>'.html_safe, product_details_path, :class=>"btn" %>
            <% link_to '$222.00'.html_safe, product_details_path, :class=>"btn btn-primary" %>
          </h4>
        </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <%= link_to image_tag('products/11.jpg', :alt => ""), product_details_path  %>
        <div class="caption">
          <h5>Product name</h5>
          <p>
            Lorem Ipsum is simply dummy text.
          </p>
          <h4 style="text-align:center">
            <% link_to '<i class="icon-zoom-in"></i>'.html_safe, product_details_path, :class=>"btn" %>
            <% link_to 'Add to <i class="icon-shopping-cart"></i>'.html_safe, product_details_path, :class=>"btn" %>
            <% link_to '$222.00'.html_safe, product_details_path, :class=>"btn btn-primary" %>
          </h4>
        </div>
      </div>
    </li>
  </ul>

</div>