<div id="sidebar" class="span3">
  <div class="well well-small"><a id="myCart" href="product_summary.html">
    <%= link_to image_tag('ico-cart.png', :alt => "ico-cart.png"), product_summary_path, :id => "myCart" %>
    3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a></div>
  <ul id="sideManu" class="nav nav-tabs nav-stacked">
    <% @categories.each do |category| %>

        <li><%= link_to category.name, categories_path %></li>

    <% end %>
  </ul>
  <br/>
  <div class="thumbnail">
    <%= image_tag('products/panasonic.jpg', :alt => "panasonic.png") %>
    <div class="caption">
      <h5>Panasonic</h5>
      <h4 style="text-align:center">
        <% link_to '<i class="icon-zoom-in"></i>'.html_safe, product_details_path, :class=>"btn" %>
        <% link_to 'Add to <i class="icon-shopping-cart"></i>'.html_safe, product_details_path, :class=>"btn" %>
        <% link_to '$222.00'.html_safe, product_details_path, :class=>"btn btn-primary" %>
      </h4>
    </div>
  </div><br/>
  <div class="thumbnail">
    <%= image_tag('products/kindle.png', :alt => "kindle.png") %>
    <div class="caption">
      <h5>Kindle</h5>
      <h4 style="text-align:center"><% link_to '<i class="icon-zoom-in"></i>'.html_safe, product_details_path, :class=>"btn" %>
        <% link_to 'Add to <i class="icon-shopping-cart"></i>'.html_safe, product_details_path, :class=>"btn" %>
        <% link_to '$222.00'.html_safe, product_details_path, :class=>"btn btn-primary" %>
      </h4>
    </div>
  </div><br/>
  <div class="thumbnail">
    <%= image_tag('payment_methods.png', :alt => "payment_methods.png") %>
    <div class="caption">
      <h5>Payment Methods</h5>
    </div>
  </div>
</div>