<% provide(:title, 'Products') %>
<div class="span9">
  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
    <li class="active">Products Name</li>
  </ul>
  <p style="color: green"><%= flash[:notice] %></p>
  <h3>   <%= @subcategory.name %> </h3>
  <hr class="soft"/>

  <!--<form class="form-horizontal span6">-->
    <!--<div class="control-group">-->
      <!--<label class="control-label alignL" style="margin-right: 1em">Sort By </label>-->
      <!--<select>-->
        <!--<option>Product name A - Z</option>-->
        <!--<option>Product name Z - A</option>-->
        <!--<option>Product Stoke</option>-->
        <!--<option>Price Lowest first</option>-->
      <!--</select>-->
    <!--</div>-->
  <!--</form>-->

  <%= render 'layouts/order_by' %>

  <div id="myTab" class="pull-right">
    <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
    <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
  </div>
  <br class="clr"/>
  <div class="tab-content">
    <div class="tab-pane" id="listView">
      <%= will_paginate %>

      <% @subcategory.products.my_sort(params[:sort_attr]).each do |product_subcategory| %>

      <div class="row">
        <div class="span2">
          <%= image_tag (product_subcategory.image_url), width: 150 %>
        </div>
        <div class="span4">
          <h4><%= product_subcategory.name %></h4>
          <hr class="soft"/>
          <p>
            <%= truncate(product_subcategory.description.gsub(/<.*?>/,''), :length => 50) %>
          </p>
          <%= link_to 'View Details', product_subcategory, class: "btn btn-small pull-right" %>
          <br class="clr"/>
        </div>
        <div class="span3 alignR">
          <form class="form-horizontal qtyFrm">
            <h3><%= product_subcategory.price %></h3>
            <label class="checkbox">
              <input type="checkbox">  Add product to compare
            </label><br/>

            <%= link_to 'Add to <i class=" icon-shopping-cart"></i>'.html_safe, product_subcategory, class: "btn btn-large btn-primary" %>
            <%= link_to '<i class="icon-zoom-in"></i>'.html_safe, product_subcategory, class: "btn btn-large" %>

          </form>
        </div>
      </div>
          <hr class="soft"/>
    <% end %>
      <%= will_paginate %>

    </div>

    <div class="tab-pane  active" id="blockView">
      <ul class="thumbnails">
        <%= will_paginate %>

        <% @subcategory.products.my_sort(params[:sort_attr]).each do |product_subcategory| %>

      <li class="span3">
          <div class="thumbnail">
            <%= link_to image_tag(product_subcategory.image_url, width: 150), product_subcategory %>
            <div class="caption">
              <h5><%= truncate(product_subcategory.name.gsub(/<.*?>/,''), :length => 32)  %></h5>
              <p>
                <%= truncate(product_subcategory.description.gsub(/<.*?>/,''), :length => 35) %>
              </p>
              <h4 style="text-align:center">
                <%= link_to '<i class="icon-zoom-in"></i></a>'.html_safe, product_subcategory, class: "btn" %>
                <%= link_to 'Add to <i class="icon-shopping-cart"></i>'.html_safe, product_subcategory, class: "btn" %>
                <%= link_to product_subcategory.price, product_subcategory, class: "btn btn-primary" %>
              </h4>
            </div>
          </div>
        </li>

            <% end %>
        <%= will_paginate %>
      </ul>
      <hr class="soft"/>
    </div>
  </div>

  <%= link_to 'Compare Product', compare_path, class: "btn btn-large pull-right" %>
  <!--<div class="pagination">-->
    <!--<ul>-->
      <!--<li><a href="#">&lsaquo;</a></li>-->
      <!--<li><a href="#">1</a></li>-->
      <!--<li><a href="#">2</a></li>-->
      <!--<li><a href="#">3</a></li>-->
      <!--<li><a href="#">4</a></li>-->
      <!--<li><a href="#">...</a></li>-->
      <!--<li><a href="#">&rsaquo;</a></li>-->
    <!--</ul>-->
  <!--</div>-->

  <br class="clr"/>



<% if logged_in? && current_user.admin? %>
<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
<% end %>

</div>
